<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width user-scalable=no" />
<title>Search</title>
<style>

[%- PERL -%]
use YAML::Tiny;
$stash->set(plugins => YAML::Tiny::LoadFile('plugins.yaml'));
[%- END -%]
[% INCLUDE tmp/style.css -%]

</style>
<script type="text/javascript">

var template = [
[%- FOR plugin IN plugins %]
    "[% plugin.url %]",
[%- END %]
];

function onClick(index) {
    var query = encodeURIComponent(document.getElementById('query').value);
    if (query.length > 0) {
        document.location = template[index].replace(/{searchTerms}/g, query);
    }
}

</script>
</head>

<body>
<input type="search" id="query" results="5" autosave="something-something" placeholder="Search..." width="100%" />
[%- FOR plugin IN plugins %]
<span class="engine [% loop.parity %]">
    <a href="javascript:onClick([% loop.index %])">[% plugin.name %]</a>
</span>
[%- END %]
</body>
</html>
